.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}

.redes_sociales {
  margin-top: -15%;
  margin-left: 82%;
}

.contactanos {
  margin-top: -14%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 90%;
  max-width: 1360px;
}

.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link--inside {
  padding: 15px 20px 15px 20px;
}

.menu__nestings {
  left: 60px;
  width: 240px;
}

.menu__nestings_2 {
  left: 60px;
  width: 240px;
}
.conteiner--escudo > img {
  width: 400px;
  height: 300px;
}
.conteiner--escudo {
  margin-left: 6%;
}
.parrafo1 {
  width: 50%;
  float: right;
  margin-right: 5%;
  border: 1 px solid black;
  border-radius: 10px;
  padding: 10px;
}
.conteiner--dos {
  margin-top: 50px;
}
.conteiner--dos > img {
  float: right;
  width: 400px;
  height: 300px;
  margin-bottom: 50px;
}
.parrafo2 {
  width: 40%;
  float: right;
  margin-right: 15%;
  border: 1 px solid black;
  border-radius: 10px;
  padding: 10px;
}
.linea {
  margin-top: 30px;
  width: 1330px;
  margin-left: 30px;
  height: 5px;
  background-color: #d09f50;
}
.linea2 {
  margin-bottom: 50px;
  width: 1330px;
  margin-left: 30px;
  height: 5px;
  background-color: #d09f50;
}
.conteiner--tres > img {
  margin-left: 5%;
  width: 400px;
  height: 300px;
}
.parrafo3 {
  width: 50%;
  float: right;
  margin-right: 5%;
  border: 1 px solid black;
  border-radius: 10px;
  padding: 10px;
}

/* footer*/
footer {
  height: 175px;
}

.redes_socialesF {
  margin-top: -10%;
  margin-left: 85%;
}

.contactanosF {
  margin-top: -9%;
  margin-left: 1.8%;
  font-size: 22px;
}

.logo_pie {
  margin-left: 40%;
}

.frase {
  margin-left: 34%;
}
