.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}
.redes_sociales {
  margin-top: -10%;
  margin-left: 83%;
}
.contactanos {
  font-size: 22px;
  margin-top: -10%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 73%;
  max-width: 1800px;
}
.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 25px;
}
.menu__link--inside {
  padding: 5px 20px 25px;
}
.menu__nestings {
  left: 55px;
  width: 230px;
}
h1 {
  font-size: 40px;
}
.Pcontacto {
  float: left;
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 100px;
  font-size: 20px;
}
.lineaC {
  margin-top: 300px;
  width: 1500px;
  margin-left: 80px;
  height: 5px;
  background-color: #d09f50;
}
.lineaC2 {
  margin-top: 90px;
  width: 1500px;
  margin-left: 80px;
  height: 5px;
  background-color: #d09f50;
}
.informacion_lugar {
  float: left;
  width: 55%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 20px;
}
.Container_map {
  margin-top: 35px;
  margin-left: 1050px;
}
.redes_sociales_black {
  float: right;
  margin-right: 195px;
  margin-top: 45px;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -7%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -7%;
  margin-left: 1.8%;
  font-size: 28px;
}
.logo_pie {
  margin-left: 40%;
}
.separador {
  height: 50px;
}
.frase {
  font-size: 30px;
  margin-left: 31%;
}
