.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}
.redes_sociales {
  margin-top: -10%;
  margin-left: 83%;
}
.contactanos {
  font-size: 22px;
  margin-top: -10%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 73%;
  max-width: 1800px;
}
.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 25px;
}
.menu__link--inside {
  padding: 5px 20px 25px;
}
.menu__nestings {
  left: 55px;
  width: 230px;
}
h1 {
  font-size: 35px;
}
.card-text {
  font-size: 25px;
}
.divider-sm {
  margin-top: 60px;
  width: 1500px;
  margin-left: -80px;
  height: 3px;
  background-color: #d09f50;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -7%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -7%;
  margin-left: 1.8%;
  font-size: 28px;
}
.logo_pie {
  margin-left: 40%;
}
.separador {
  height: 50px;
}
.frase {
  font-size: 30px;
  margin-left: 31%;
}
