.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}
.redes_sociales {
  margin-top: -10%;
  margin-left: 1%;
}
.contactanos {
  font-size: 22px;
  margin-top: -10%;
  margin-left: 1.8%;
}
.apoyado {
  margin-top: -10%;
  margin-left: 83%;
  font-size: 25px;
}
.user {
  margin-top: -10%;
  margin-left: 94%;
}
.menu__conteiner {
  width: 73%;
  max-width: 1800px;
}
.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 25px;
}
.menu__link--inside {
  padding: 5px 20px 25px;
}
.menu__nestings {
  left: 55px;
  width: 230px;
}
.caracteristicas {
  font-size: 45px;
}
.P1 {
  text-align: justify;
  width: 40%;
  margin-left: 150px;
  border: 1px solid rgb(4, 4, 4);
  padding: 10px;
  border-radius: 10px;
}
.IbagueI {
  display: flex;
  align-items: left;
  margin-top: 30px;
  margin-left: 285px;
}
.P2 {
  text-align: justify;
  width: 40%;
  margin-left: 850px;
  margin-top: -665px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}
.ibague1 {
  margin-top: 55px;
  margin-left: 970px;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -7%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -7%;
  margin-left: 1.8%;
  font-size: 28px;
}
.logo_pie {
  margin-left: 40%;
}
.separador {
  height: 50px;
}
.frase {
  font-size: 30px;
  margin-left: 31%;
}
