.ingresar {
    width: 320px;
    height: 420px;
    background-color: black;
    margin-left: -250px;
    margin-top: 10px;
    color: white;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 25px;
  }