.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 38%;
}
.redes_sociales {
  margin-top: -12%;
  margin-left: 82%;
}
.contactanos {
  margin-top: -13%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 83%;
  max-width: 1370px;
}
.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 20px 15px 20px;
}
.menu__nestings {
  left: 55px;
  width: 230px;
}
.titulo {
  margin-top: 40px;
  margin-left: 80px;
  text-align: left;
}
.primera_imagen {
  margin-top: 30px;
  margin-left: 80px;
  width: 500px;
  height: 300px;
}
.parrafo {
  margin-top: -300px;
  width: 50%;
  margin-left: 47%;
  border: 1px solid #999;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
}
.separador1 {
  margin-top: 170px;
  width: 1150px;
  margin-left: 100px;
  height: 5px;
  background-color: #d09f50;
}
.segunda_imagen {
  margin-left: -470px;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}
.segunda_imagen {
  width: 500px;
  height: 350px;
}
.parrafo2 {
  width: 650px;
  margin-top: -360px;
  margin-left: 35%;
  border: 1px solid #999;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
}
.titulo2 {
  margin-top: 40px;
  margin-left: 80px;
  text-align: left;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -8%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -8%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 40%;
}
.frase {
  margin-left: 36%;
}
