.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 38%;
}
.redes_sociales {
  margin-top: -12%;
  margin-left: 82%;
}
.contactanos {
  margin-top: -13%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 83%;
  max-width: 1370px;
}
.menu__link {
  padding: 0 50px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 20px 15px 20px;
}
.menu__nestings {
  left: 40px;
  width: 230px;
}
.Pcontacto {
  float: left;
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 90px;
}
.lineaC {
  margin-top: 260px;
  width: 1150px;
  margin-left: 100px;
  height: 5px;
  background-color: #d09f50;
}
.lineaC2 {
  margin-top: 90px;
  width: 1250px;
  margin-left: 100px;
  height: 5px;
  background-color: #d09f50;
}
.informacion_lugar {
  float: left;
  width: 48%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 90px;
}
.Container_map {
  margin-top: 35px;
  margin-left: 760px;
}
.redes_sociales_black {
  float: right;
  margin-right: 120px;
  margin-top: 45px;
}
#boton {
  bottom: 220px;
  right: 20px;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -8%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -8%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 40%;
}
.frase {
  margin-left: 36%;
}
