.logo_cabecera {
    margin-top: 1.9%;
    margin-left: 40%;
  }

  .redes_sociales {
    margin-top: -15%;
    margin-left: 1%;
  }

  .contactanos {
    margin-top: -14%;
    margin-left: 1.8%;
  }

  .apoyado {
    margin-top: -15%;
    margin-left: 85%;
  }

  .user {
    margin-top: -14.9%;
    margin-left: 95%;
  }

  .menu__conteiner {
    width: 100%;
    max-width: 1360px;
  }

  .menu__link {
    padding: 0 90px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .menu__link--inside {
    padding: 15px 20px 15px 20px;
  }

  .menu__nestings {
    left: 100px;
    width: 240px;
  }
    .menu__nestings_2 {
    left: 60px;
    width: 240px;
  }
  .Pcontacto {
    float: left;
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 70px;
  }
  .lineaC {
    margin-top: 250px;
    width: 1515px;
    margin-left: 30px;
    height: 5px;
    background-color: #d09f50;
  }
  
  .informacion_lugar {
    float: left;
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 8%;
  }
  .Container_map {
    margin-top: 40px;
    margin-left: 60%;
  }
  .redes_sociales_black {
    float: right;
    margin-right: 16%;
  }
  /* footer*/
  footer {
    height: 175px;
  }

  .redes_socialesF {
    margin-top: -10%;
    margin-left: 85%;
  }

  .contactanosF {
    margin-top: -9%;
    margin-left: 1.8%;
    font-size: 22px;
  }

  .logo_pie {
    margin-left: 40%;
  }

  .frase {
    margin-left: 34%;
  }