.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}

.redes_sociales {
  margin-top: -15%;
  margin-left: 1%;
}

.contactanos {
  margin-top: -14%;
  margin-left: 1.8%;
}

.apoyado {
  margin-top: -15%;
  margin-left: 85%;
}

.user {
  margin-top: -14.9%;
  margin-left: 95%;
}

.menu__conteiner {
  width: 100%;
  max-width: 1360px;
}

.menu__link {
  padding: 0 90px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link--inside {
  padding: 15px 20px 15px 20px;
}

.menu__nestings {
  left: 85px;
  width: 240px;
}

.menu__nestings_2 {
  left: 80px;
  width: 200px;
}

.IbagueI {
  margin-top: 4%;
  margin-left: 10%;
}

.P2 {
  display: flex;
  align-items: right;
  text-align: justify;
  width: 45%;
  margin-left: 53%;
  margin-top: -700px;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}

.ibague1 {
  margin-top: 7%;
  margin-left: 60%;
}

/* footer*/
footer {
  height: 175px;
}

.redes_socialesF {
  margin-top: -10%;
  margin-left: 85%;
}

.contactanosF {
  margin-top: -9%;
  margin-left: 1.8%;
  font-size: 22px;
}

.logo_pie {
  margin-left: 40%;
}

.frase {
  margin-left: 34%;
}
