.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}
.redes_sociales {
  margin-top: -16%;
  margin-left: 82%;
}
.contactanos {
  margin-top: -14%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 90%;
  max-width: 1360px;
}
.menu__link {
  padding: 0 60px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 20px 15px 20px;
}
.menu__nestings {
  left: 60px;
  width: 240px;
}
.IbaguéI {
  display: flex;
  align-items: left;
  margin-top: 50px;
  margin-left: 150px;
}
.P2 {
  text-align: justify;
  width: 45%;
  margin-left: 640px;
  margin-top: -740px;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}
.ibague1 {
  margin-top: 50px;
  margin-left: 750px;
}
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -13%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -6%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 40%;
}
