.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 38%;
}
.redes_sociales {
  margin-top: -16%;
  margin-left: 82%;
}
.contactanos {
  margin-top: -13%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 83%;
  max-width: 1280px;
}
.menu__link {
  padding: 0 50px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 5px 15px 20px;
}
.menu__nestings {
  left: 30px;
  width: 260px;
}
.menu__nestings_2 {
  left: 25px;
  width: 180px;
}

/* slider */
.slider {
  margin-left: 20%;
  margin-right: 10%;
  height: 450px;
}
.slider img {
  width: 850px;
  height: 450px;
  border-radius: 40px;
}
.linea {
  margin-top: 60px;
  width: 1150px;
  margin-left: 60px;
  height: 5px;
  background-color: #d09f50;
}
/* descripcion */
.container {
  padding: 1em;
  overflow: hidden;
}
.galeria {
  position: absolute;
  color: black;
  opacity: 1;
  margin-top: 300px;
  margin-left: 40px;
}
.producto {
  font-size: 32px;
  margin-left: 44%;
}
.title {
  margin-left: 3%;
  display: inline-block;
  margin-top: 4%;
  font-size: 18px;
}
.item {
  margin: 5rem;
  padding: 20px;
  color: white;
  float: left;
}
#imagen > a > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
#texto {
  color: black;
  margin-top: 2%;
  width: 50%;
  margin-left: 1%;
  font-size: 14px;
}
.lineaP {
  margin-top: 5px;
  width: 1150px;
  margin-left: 100px;
  height: 5px;
  background-color: #d09f50;
}
/* Tarjetas*/
.contenedor {
  height: 450px;
  width: 250px;
  margin: auto;
  margin-bottom: 50px;
}
.titulo {
  margin-left: 40%;
}
.carta {
  top: 30px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}
.carta:hover {
  transform: rotateY(180deg);
}
.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.frente > img {
  width: 100%;
  height: 100%;
}
.atras {
  transform: rotateY(180deg);
  background-color: gray;
}
#boton {
  bottom: 230px;
  right: 50px;
}
/* footer*/
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -8%;
  margin-left: 85%;
}
.contactanosF {
  margin-top: -8%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 40%;
}
.frase {
  margin-left: 36%;
}
