.logo_cabecera {
  margin-left: 35%;
}
.redes_sociales {
  margin-top: -21%;
  margin-left: 0.5%;
}
.contactanos {
  margin-top: -20%;
  margin-left: 1.8%;
}
.apoyado {
  margin-top: -21%;
  margin-left: 79%;
}
.user {
  margin-top: -21%;
  margin-left: 95%;
}
.menu__conteiner {
  width: 90%;
  max-width: 1030px;
}
.menu__link {
  padding: 0 35px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 20px 15px 20px;
}
.menu__nestings {
  left: 30px;
  width: 240px;
}
.menu__nestings_2 {
  left: 30px;
  width: 170px;
}

.IbagueI {
  margin-top: 4.5%;
  margin-left: 50px;
}
.P1 > img {
  margin-left: 5%;
}
.P2 {
  display: flex;
  align-items: right;
  text-align: justify;
  width: 45%;
  margin-left: 53%;
  margin-top: -80%;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}

.ibague1 {
  margin-top: 50px;
  margin-left: 55%;
}

/* footer*/
.redes_socialesF {
  margin-top: -15%;
  margin-left: 83%;
}
.contactanosF {
  margin-top: -10%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 36%;
}
.frase {
  margin-left: 30%;
}
