.logo_cabecera {
  margin-top: 1.9%;
  margin-left: 40%;
}
.redes_sociales {
  margin-top: -21%;
  margin-left: 79%;
}
.contactanos {
  margin-top: -19%;
  margin-left: 1.8%;
}

.menu__conteiner {
  width: 90%;
  max-width: 1030px;
}
.menu__link {
  padding: 0 0.1px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link--inside {
  padding: 15px 20px 15px 20px;
}
.menu__nestings {
  left: 25px;
  width: 240px;
}
.menu__nestings_2 {
  left: 25px;
  width: 180px;
}

/* slider */
.slider {
  margin-left: 5%;
  margin-right: 5%;
  height: 550px;
}
.slider img {
  width: 900px;
  height: 550px;
  border-radius: 40px;
}
.linea {
  margin-top: 80px;
  width: 920px;
  margin-left: 30px;
  height: 5px;
  background-color: #d09f50;
}
/* descripcion */
.container {
  padding: 1em;
  overflow: hidden;
}
.galeria {
  position: absolute;
  color: black;
  opacity: 1;
  margin-top: 300px;
  margin-left: 40px;
}
.producto {
  font-size: 32px;
  margin-left: 47%;
}
.item {
  margin: 5rem;
  padding: 20px;
  color: white;
  float: left;
}
.title {
  margin-left: 3%;
  display: inline-block;
  margin-top: 4%;
  font-size: 18px;
}
#imagen > a > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
#texto {
  color: black;
  margin-top: 2%;
  width: 50%;
  margin-left: 1%;
  font-size: 14px;
}
.lineaP {
  margin-top: 100px;
  width: 920px;
  margin-left: 30px;
  height: 5px;
  background-color: #d09f50;
}
/* Tarjetas*/
.contenedor {
  height: 450px;
  width: 250px;
  margin: auto;
  -webkit-perspective: 700;
  margin-bottom: 50px;
}
.carta {
  top: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}
.carta:hover {
  transform: rotateY(180deg);
}
.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.frente > img {
  width: 100%;
  height: 100%;
}
.atras {
  transform: rotateY(180deg);
  background-color: gray;
}
/* footer*/
footer {
  height: 175px;
}
.redes_socialesF {
  margin-top: -13%;
  margin-left: 80%;
}
.contactanosF {
  margin-top: -6%;
  margin-left: 1.8%;
  font-size: 22px;
}
.logo_pie {
  margin-left: 40%;
}
.frase {
  margin-left: 34%;
}
